{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='members.css') }}">

{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="add-edit-box">
        <form action="/members/{{member.id}}" method="post">
            <ul>
                <li>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="first_name" value="{{member.first_name}}">
                </li>
                <li>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" id="last_name" value="{{member.last_name}}">
                </li>
                <li>
                    <label for="date_of_birth">Date of Birth:</label>
                    <input type="date" name="date_of_birth" id="date_of_birth" value="{{member.date_of_birth}}">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="{{member.email}}">
                <li>
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" id="phone" value="{{member.phone}}">
                </li>
                    <label for="membership">Member:</label>
                    <input type="checkbox" name="membership" id="membership" {% if member.membership %} checked {% endif %}>
                <div class=collapse>
                    <li>
                        <label for="member_since">Member Since:</label>
                        <input type="date" name="member_since" id="member_since" value={{member.member_since}}>
                    </li>
                    <li>
                        <label for="member_until"> Member Until:</label>
                        <input type="date" name="member_until" id="member_until" value={{member.member_until}}>
                    </li>
                    <li>
                        <label for="premium">Premium:</label>
                        <input type="checkbox" name="premium" id="premium" {% if member.premium %} checked {% endif %}>
                    </li>
                </div>
                <li>
                    <input type="submit" value="Edit Member">
                </li>
            </ul>
        </form>
    </div>

    <!-- <div class="classes-list"> -->
        <table class="members-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Class</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
            {% for class in classes %}
                <tr>
                    <td>
                        <a href="/schedule/{{class.id}}">{{class.class_date}}</a>
                    </td>
                    <td>
                        {{class.start_time}}
                    </td>
                    <td>
                        {{class.gym_class.class_name}}
                    </td>
                    <td>
                        {{class.room.room_name}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    <!-- </div> -->
</div>

{% endblock %}