{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='members.css') }}">

{% endblock %}

{% block content %}
<div class="add-edit-box">
    <form action="/members/new" method="post">
        <ul>
            <li>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" required>
            </li>
            <li>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name" required">
            </li>
            <li>
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" name="date_of_birth" id="date_of_birth" required>
            </li>
            <li>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="example@email.com">
            <li>
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone" placeholder="07590964012">
            </li>
                <label for="membership">Member:</label>
                <input type="checkbox" name="membership" id="membership" >
            <div class=collapse>
                <li>
                    <label for="member_since">Member Since:</label>
                    <input type="date" name="member_since" id="member_since">
                </li>
                <li>
                    <label for="member_until"> Member Until:</label>
                    <input type="date" name="member_until" id="member_until">
                </li>
                <li>
                    <label for="premium">Premium:</label>
                    <input type="checkbox" name="premium" id="premium">
                </li>
            </div>
            <li>
                <input type="submit" value="Add Member">
            </li>
        </ul>
    </form>
</div>

{% endblock %}