{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='rooms_classes.css') }}">

{% endblock %}

{% block content %}

<form action="/classes/{{gym_class.id}}" method="post">
    <div class="add-edit-box">
        <ul>
            <li>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="{{gym_class.class_name}}" required>
            </li>
            <li>
                <label for="description">Description:</label>
                <textarea type="text" name="description" id="description" required>{{gym_class.description}}</textarea>
            </li>
            <li>
                <label for="max_time">Time:</label>
                <input type="number" name="max_time" id="max_time" min="0" value="{{gym_class.max_time}}" required>
            </li>
            <li>
                <label for="capacity">Capacity:</label>
                <input type="number" name="capacity" id="capacity" min="0" value="{{gym_class.capacity}}" required>
            </li>
            <li>
                <input type="submit" value="Edit Class">
            </li>
        </ul>
    </div>   
</form>

{% endblock %}