{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

{% block content %}

<a href="/classes/new">Add Class</a>

{%for class in classes%}
<div class="centre-classes">
    <section>
        {{class.class_name}}
    </section>
    <section>
        {{class.min_time}} - {{class.max_time}} minutes
    </section>
    <section>
        {{class.min_capacity}} - {{class.max_capacity}} people
    </section>
    <section>
        {{class.description}}
    </section>
    <section>
        <a href="/classes/{{class.id}}">Edit</a>
    </section>
    <section>
        <form action="/classes/{{class.id}}/delete" method="POST">
            <input class="delete" type="submit" value="delete" />
        </form>
    </section>
</div>

{%endfor%}

{% endblock %}