{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='rooms_classes.css') }}">

{% endblock %}

{% block content %}

<a class="button" href="/classes/new">Add Class</a>


<div class="grid">
{%for class in classes%}
    <div class="grid-item">
        <p>Name: {{class.class_name}}</p>    
        <p>Max Time: {{class.max_time}} minutes</p>    
        <p>Capacity: {{class.capacity}} people</p>    
        <p>Description: {{class.description}}</p>    
        <div class="edit-delete">
            <a class="edit" href="/classes/{{class.id}}">Edit</a>
            <form action="/classes/{{class.id}}/delete" method="POST">
                <input class="delete" type="submit" value="Delete" />
            </form>
        </div>
    </div>
{%endfor%}
</div>

{% endblock %}