{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='rooms_classes.css') }}">

{% endblock %}

{% block content %}

<form action="/classes/new" method="post">
    <div class="add-edit-box">
        <ul>
            <li>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </li>
            <li>
                <label for="max_time">Time:</label>
                <input type="number" name="max_time" id="max_time" min="0" required>
            </li>
            <li>
                <label for="capacity">Capacity:</label>
                <input type="number" name="capacity" id="capacity" min="0" required>
            </li>
            <li>
                <label for="description">Description:</label>
                <textarea type="text" name="description" id="description" required></textarea>
            </li>
            <li>
                <input type="submit" value="Add Class">
        </li>
        </ul>
    </div>
</form>

{% endblock %}