{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='rooms.css') }}">

{% endblock %}

{% block content %}

<form action="/rooms/{{room.id}}" method="post">
    <section>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{room.room_name}}" required>
    </section>   
    <section>
        <label for="capacity">Capacity:</label>
        <input type="number" name="capacity" id="capacity" min="0" value="{{room.capacity}}" required>
    </section>
    <section>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" value="{{room.description}}" required>
    </section>
    <section>
        <input type="submit" value="Edit Room">
    </section>
</form>

{% endblock %}