{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='rooms.css') }}">

{% endblock %}


{% block content %}
<div>
    <a href="/rooms/new">Add Room</a>
</div>
<div class="rooms-grid">
    {%for room in rooms%}
    <div class="grid-item">
        <p>Name: {{room.room_name}}</p>
        <p>Description: {{room.description}}</p>
        <p>Capacity: {{room.capacity}}</p>
        
        
        <a href="/rooms/{{room.id}}">Edit</a>
        <form action="/rooms/{{room.id}}/delete" method="POST">
            <input room="delete" type="submit" value="delete" />
        </form>
    </div>
    {%endfor%}
</div>

{% endblock %}