{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='rooms_classes.css') }}">

{% endblock %}


{% block content %}
<div class="add-edit-box">
    <form action="/rooms/new" method="post">
        <ul>
            <li>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </li>
            <li>
                <label for="capacity">Capacity:</label>
                <input type="number" name="capacity" id="capacity" min="0" required>
            </li>
            <li>
                <label for="description">Description:</label>
                <textarea type="text" name="description" id="description" required></textarea>
            </li>
            <input type="submit" value="Add Room">
        </ul>
    </form>
</div>

{% endblock %}