{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='schedule.css') }}">

{% endblock %}

{% block content %}

<a href="/schedule/new">Add Class</a>

<a href="/schedule/all">Show All</a>

<table class="center">
    <thead>
        <tr>
            <th></th>

            {% for index in range(dates|length) %}
            <th>
                <p>{{dates[index]}}</p>
                <p>{{days[index]}}</p>
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Classes</th>
            {% for name in schedules_dict %}  
                <td>
                    {% for schedule in schedules_dict[name] %}
                        {{schedule.start_time}}
                        <a href="/schedule/{{schedule.id}}"> {{schedule.gym_class.class_name}} </a>
                    {% endfor %}
                </td>
            {%endfor%}
        </tr>
    </tbody>
</table>

{% endblock %}