{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='schedule.css') }}">

{% endblock %}



{% block content %}



<a href="/schedule/new">Add Class</a>

<a href="/schedule/all">Show All</a>


<table class="center">
    <thead>
        <tr>
            <th>
                <p>{{today}}</p> 
                <p>{{today_day}}</p>
            </th>
            <th>
                <p>{{today_plus2}}</p>
                <p>{{today_plus2_day}}</p>
            </th>
            <th>
                <p>{{today_plus3}}</p>
                <p>{{today_plus3_day}}</p>
            </th>
            <th>
                <p>{{today_plus4}}</p>
                <p>{{today_plus4_day}}</p>
            </th>
            <th>
                <p>{{today_plus5}}</p>
                <p>{{today_plus5_day}}</p>
            </th>
            <th>
                <p>{{today_plus6}}</p>
                <p>{{today_plus6_day}}</p>
            </th>
            <th>
                <p>{{today_plus7}}</p>
                <p>{{today_plus7_day}}</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% for schedule in today_schedules_0 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_1 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_2 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_3 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_4 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_5 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_6 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}} {{schedule.start_time}}</a>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}