{% extends "base.html" %}
{% block content %}


<a href="/schedule/new">Add Class</a>


<table>
    <thead>
        <tr>
            <th>
                <span>{{today}}</span>
                <span>{{today_day}}</span>
            </th>
            <th>
                <span class="day">{{today_plus2}}</span>
                {{today_plus2_day}}
            </th>
            <th>
                <span class="day">{{today_plus3}}</span>
                {{today_plus3_day}}
            </th>
            <th>
                <span class="day">{{today_plus4}}</span>
                {{today_plus4_day}}
            </th>
            <th>
                <span class="day">{{today_plus5}}</span>
                {{today_plus5_day}}
            </th>
            <th>
                <span class="day">{{today_plus6}}</span>
                {{today_plus6_day}}
            </th>
            <th>
                <span class="day">{{today_plus7}}</span>
                {{today_plus7_day}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% for schedule in today_schedules_0 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_1 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_2 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_3 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_4 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_5 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
            <td>
                {% for schedule in today_schedules_6 %}
                    <a href="/schedule/{{schedule.id}}">{{schedule.gym_class.class_name}}</a>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}