{% extends "base.html" %}

{% block content %}

    <table>
        <tr>
            <th>Name</th>
            <th>Week Starting</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        {% for instructor in instructors %}
        <tr>
            <td>
                <a href="/instructors/details/{{instructor.detail.id}}">{{instructor.detail.first_name}} {{instructor.detail.last_name}}</a>
            </td>
            <td>{{instructor.week_start_date}}</td>
            <td>{{instructor.schedule.monday}}</td>
            <td>{{instructor.schedule.tuesday}}</td>
            <td>{{instructor.schedule.wednesday}}</td>
            <td>{{instructor.schedule.thursday}}</td>
            <td>{{instructor.schedule.friday}}</td>
            <td>{{instructor.schedule.saturday}}</td>
            <td>{{instructor.schedule.sunday}}</td>
            <td class="hidden">
                <form action="/instructors/details/{{instructor.id}}" method="POST">
                    <input class="delete" type="submit" value="delete" />
                </form>
            </td>
        </tr>
        {% endfor %}
<section><a href="/instructors/new_instructor">Add Instructor</a></section>
<section><a href="/instructors/new_schedule">Add Schedule</a></section>
<section><a href="/instructors/new_timetable">Add Timetable</a></section>

{% endblock %}