{% extends "base.html" %}

{% block content %}

    <table>
        <tr>
            <th>Name</th>
            <th>Week Starting</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        {% for instructor in instructors %}
        <tr>
            <td> {{instructor.detail.first_name}}</td>
            <td>
                <a href="/instructors/details/{{instructor.detail.id}}">{{instructor.first_name}} {{instructor.last_name}}</a>
            </td>
            <td class="hidden">
                <form action="/instructors/details/{{instructor.id}}" method="POST">
                    <input class="delete" type="submit" value="delete" />
                </form>
            </td>
        </tr>
        {% endfor %}

{% endblock %}