body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color:#5b5b5b;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav {
    display: flex;
    background-color: #333;
    border-bottom: 3px solid #04c2c9;
    width: 100%;
  }

.main-nav a {
  padding: 8px;
  background: #333;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

nav :hover {
  color: #e31b6d;
}

@media (max-width: 530px) {
  .main-nav a {
    padding: 5px;
    background: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .main-nav a {
    padding: 5px;
    background: #333;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
}

/* .centre-instructors {
  margin-left: auto;
  margin-right: auto;
  border: 2% solid;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-color: black;
  background-color: rgb(250, 250, 250);
  
  }
