body{
    text-align: center;
    background-color: rgb(211, 211, 211);
}

.instructors-table {
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.instructors-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}

.instructors-table th,
.instructors-table td {
    padding: 12px 15px;
}

.instructors-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.instructors-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.instructors-table tbody tr:last-of-type {
    border-bottom: 2px solid #04c2c9;
}

.button {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active {
    text-decoration: none;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    text-decoration: none;
    outline: 0;
    background: #fafafa;
}

.button:before {
    text-decoration: none;
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
    /* content: "\271A"; */
}