tr:hover { background: #ddd; }

td { border: 1px solid #000; border-collapse: collapse; }

td a { display: block; padding: 5px 20px; }

input[type=checkbox]:checked + .collapse {
    display: block;
}

.collapse {
    display: none;
}

body{
    text-align: center;
    background-color: rgb(230, 230, 230);
}

li {
    list-style-type: none;
  }

.centre-members {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-color: black;
    background-color: rgb(250, 250, 250);
    
  }

.centre-classes {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 2px solid;
    border-color: black;
    background-color: rgb(250, 250, 250);
  }